.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 768px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.section__axuVw {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
:where(.section__axuVw > *) {
  grid-column: 4;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 32px;
  width: 32px;
  justify-self: flex-end;
}
.section___8OTov {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  overflow: auto;
  height: 95vh;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.section___8OTov > *) {
  grid-column: 4;
}
.section__xijge {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 16px;
}
:where(.section__xijge > *) {
  grid-column: 4;
}
@media (min-width: 768px) {
  :where(.section__xijge > *) {
    grid-column: 4;
  }
}
.section__tc5Yw {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.section__tc5Yw > *) {
  grid-column: 4;
}
.styleCarousel__yTsNc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.styleTile__aMeBa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__wXu96 {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  pointer-events: auto;
  display: inline-block !important;
  border-radius: 5px;
}
.img__wXu96 > picture > img {
  object-fit: cover;
}
.img__wXu96 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.styleTile__dlEly:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__ai0L4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  box-shadow: none;
  border-radius: 5px;
}
.img__ai0L4 > picture > img {
  object-fit: cover;
}
.img__ai0L4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.styleTile__wnT2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__g2APp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5px;
}
.img__g2APp > picture > img {
  object-fit: cover;
}
.img__g2APp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.styleTile__ldSpH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__rfgYv {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5px;
}
.img__rfgYv > picture > img {
  object-fit: cover;
}
.img__rfgYv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.styleTile__u2CR8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__c2YKf {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5px;
}
.img__c2YKf > picture > img {
  object-fit: cover;
}
.img__c2YKf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.styleTile__qQaoH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__lNnqq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5px;
}
.img__lNnqq > picture > img {
  object-fit: cover;
}
.img__lNnqq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__aqkW {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
:where(.section__aqkW > *) {
  grid-column: 4;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: -3;
}
.svg___4SnVa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__l0U1W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section__oyztW {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  background: #e8e8e859;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px;
}
:where(.section__oyztW > *) {
  grid-column: 4;
}
@media (min-width: 768px) {
  :where(.section__oyztW > *) {
    grid-column: 4;
  }
}
.section__aziYo {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: -1;
}
.section__aziYo > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.section__aziYo > :global(.__wab_flex-container) > *,
.section__aziYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__aziYo > :global(.__wab_flex-container) > picture > img,
.section__aziYo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 3px;
}
.text___3KvY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___0PqeN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.section__lQMo {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  flex-shrink: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px 0;
}
.section__lQMo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.section__lQMo > :global(.__wab_flex-container) > *,
.section__lQMo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__lQMo > :global(.__wab_flex-container) > picture > img,
.section__lQMo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.section___5GQcr {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  flex-direction: column;
  min-width: 0;
  padding: 0px 0 8px;
}
.text___0Oi4D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
}
.section___9Cby3 {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  flex-direction: column;
  min-width: 0;
  padding: 0px 2px 8px;
}
.text__ciFlw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
}
.section__rPtp6 {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  flex-direction: column;
  min-width: 0;
  padding: 0px 0 8px;
}
.text__qHiC2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
}
.section__yQCvr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 72px;
}
:where(.section__yQCvr > *) {
  grid-column: 4;
}
@media (min-width: 768px) {
  :where(.section__yQCvr > *) {
    grid-column: 4;
  }
}
.discoverTile__y0Crg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__vpwBt {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}
.img__vpwBt > picture > img {
  object-fit: cover;
}
.img__vpwBt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.discoverTile__eLvgG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__utzvm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}
.img__utzvm > picture > img {
  object-fit: cover;
}
.img__utzvm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.discoverTile__dhU1K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__tqX9I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 10px;
}
.img__tqX9I > picture > img {
  object-fit: cover;
}
.img__tqX9I > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
