.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
.section__npQqV {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 8px 16px;
}
.section__zSb6K {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  left: auto;
  top: auto;
  z-index: 1;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.section__cl5Bi {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-self: auto;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.section___2Q8Gz {
  display: flex;
  position: relative;
  width: auto;
  max-width: 24px;
  flex-direction: row;
}
.svg__pOhnp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.section__ytfRh {
  display: flex;
  position: relative;
  width: 100%;
  align-self: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.section__iBq1J {
  display: flex;
  position: relative;
  width: auto;
  max-width: 24px;
  left: auto;
  top: auto;
  z-index: 1;
  flex-direction: row;
}
.svg__dIy6L {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.section__i26QG {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: auto;
  padding: 8px 0;
}
.section__i26QG > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.section__i26QG > :global(.__wab_flex-container) > *,
.section__i26QG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__i26QG > :global(.__wab_flex-container) > picture > img,
.section__i26QG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.section__anjqp {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 92vw;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.section__anjqp > *) {
  grid-column: 4;
}
.resultTile__mhbpP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  min-height: 100%;
}
.img__ul4Fr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 635px;
  height: 94%;
  border-radius: 20px;
}
.img__ul4Fr > picture > img {
  object-fit: cover;
}
.img__ul4Fr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__fcXu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 92vw;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.section__fcXu > *) {
  grid-column: 4;
}
.resultTile___3Vli:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__nowta {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 635px;
  height: 94%;
  border-radius: 20px;
}
.img__nowta > picture > img {
  object-fit: cover;
}
.img__nowta > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__jLeC0 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 502px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
:where(.section__jLeC0 > *) {
  grid-column: 4;
}
.section__tkl6B {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px 0;
}
.section__tkl6B > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.section__tkl6B > :global(.__wab_flex-container) > *,
.section__tkl6B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__tkl6B > :global(.__wab_flex-container) > picture > img,
.section__tkl6B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.section__cAsA7 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px 0;
}
.button__m4EIz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qDZfk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5NpFk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.section___4WuA {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 0;
}
.button__osAke:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__aMmxK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  color: #232320;
}
.svg__eTb7V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
