@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-Ge81jOw9Y: 1px;
  --plasmic-token-unnamed-style-token: var(--token-Ge81jOw9Y);
  --token-Y_J547bqR: var(--token-oyf7MP788);
  --plasmic-token-unnamed-style-token-2: var(--token-Y_J547bqR);
  --token-oyf7MP788: 0px;
  --plasmic-token-unnamed-style-token-3: var(--token-oyf7MP788);
  --token-j8N_snLpE: 0px;
  --plasmic-token-none: var(--token-j8N_snLpE);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0o5_vx8F1YV4QR_font-family: "Inter", sans-serif;
  --mixin-0o5_vx8F1YV4QR_font-size: 16px;
  --mixin-0o5_vx8F1YV4QR_font-weight: 400;
  --mixin-0o5_vx8F1YV4QR_font-style: normal;
  --mixin-0o5_vx8F1YV4QR_color: #535353;
  --mixin-0o5_vx8F1YV4QR_text-align: left;
  --mixin-0o5_vx8F1YV4QR_text-transform: none;
  --mixin-0o5_vx8F1YV4QR_line-height: 1.5;
  --mixin-0o5_vx8F1YV4QR_letter-spacing: normal;
  --mixin-0o5_vx8F1YV4QR_white-space: pre-wrap;
  --mixin-0o5_vx8F1YV4QR_user-select: text;
  --mixin-0o5_vx8F1YV4QR_text-decoration-line: none;
  --mixin-0o5_vx8F1YV4QR_text-overflow: clip;
  --mixin-tOdj-tVuvKky1c_color: #000000;
  --mixin-tOdj-tVuvKky1c_font-size: 24px;
  --mixin-tOdj-tVuvKky1c_font-weight: 600;
  --mixin-tOdj-tVuvKky1c_letter-spacing: -0.5px;
  --mixin-tOdj-tVuvKky1c_line-height: 1.3;
  --mixin-tOdj-tVuvKky1c_white-space: pre-wrap;
  --mixin-R4KJA7JRrWwSPS_color: #000000;
  --mixin-R4KJA7JRrWwSPS_font-size: 20px;
  --mixin-R4KJA7JRrWwSPS_font-weight: 600;
  --mixin-R4KJA7JRrWwSPS_letter-spacing: -0.3px;
  --mixin-R4KJA7JRrWwSPS_line-height: 1.5;
  --mixin-R4KJA7JRrWwSPS_white-space: pre-wrap;
  --mixin-FXfjjJRySMcmii_color: #000000;
  --mixin-FXfjjJRySMcmii_font-size: 16px;
  --mixin-FXfjjJRySMcmii_font-weight: 600;
  --mixin-FXfjjJRySMcmii_line-height: 1.5;
  --mixin-FXfjjJRySMcmii_white-space: pre-wrap;
  --mixin-IsCzqT-EomF0HB_color: #0070f3;
  --mixin-IsCzqT-EomF0HB_white-space: pre-wrap;
  --mixin-z4_Ss7oz7eMnFQ_border-left-color: #dddddd;
  --mixin-z4_Ss7oz7eMnFQ_border-left-style: solid;
  --mixin-z4_Ss7oz7eMnFQ_border-left-width: 3px;
  --mixin-z4_Ss7oz7eMnFQ_color: #888888;
  --mixin-z4_Ss7oz7eMnFQ_padding-left: 10px;
  --mixin-z4_Ss7oz7eMnFQ_white-space: pre-wrap;
  --mixin-ZsFsudtfUFpWzk_color: #000000;
  --mixin-ZsFsudtfUFpWzk_font-size: 64px;
  --mixin-ZsFsudtfUFpWzk_font-weight: 700;
  --mixin-ZsFsudtfUFpWzk_letter-spacing: -1px;
  --mixin-ZsFsudtfUFpWzk_line-height: 1;
  --mixin-ZsFsudtfUFpWzk_white-space: pre-wrap;
  --mixin-lnCWVZYaOBwT0D_color: #000000;
  --mixin-lnCWVZYaOBwT0D_font-size: 48px;
  --mixin-lnCWVZYaOBwT0D_font-weight: 700;
  --mixin-lnCWVZYaOBwT0D_line-height: 1.1;
  --mixin-lnCWVZYaOBwT0D_letter-spacing: -0.5px;
  --mixin-lnCWVZYaOBwT0D_white-space: pre-wrap;
  --mixin-vkwxGub_KFgGHI_color: #000000;
  --mixin-vkwxGub_KFgGHI_font-size: 32px;
  --mixin-vkwxGub_KFgGHI_font-weight: 600;
  --mixin-vkwxGub_KFgGHI_line-height: 1.2;
  --mixin-vkwxGub_KFgGHI_white-space: pre-wrap;
  --mixin-w8dbKxESSffvFt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-w8dbKxESSffvFt_border-bottom-color: #dddddd;
  --mixin-w8dbKxESSffvFt_border-bottom-style: solid;
  --mixin-w8dbKxESSffvFt_border-bottom-width: 1px;
  --mixin-w8dbKxESSffvFt_border-left-color: #dddddd;
  --mixin-w8dbKxESSffvFt_border-left-style: solid;
  --mixin-w8dbKxESSffvFt_border-left-width: 1px;
  --mixin-w8dbKxESSffvFt_border-right-color: #dddddd;
  --mixin-w8dbKxESSffvFt_border-right-style: solid;
  --mixin-w8dbKxESSffvFt_border-right-width: 1px;
  --mixin-w8dbKxESSffvFt_border-top-color: #dddddd;
  --mixin-w8dbKxESSffvFt_border-top-style: solid;
  --mixin-w8dbKxESSffvFt_border-top-width: 1px;
  --mixin-w8dbKxESSffvFt_border-bottom-left-radius: 3px;
  --mixin-w8dbKxESSffvFt_border-bottom-right-radius: 3px;
  --mixin-w8dbKxESSffvFt_border-top-left-radius: 3px;
  --mixin-w8dbKxESSffvFt_border-top-right-radius: 3px;
  --mixin-w8dbKxESSffvFt_font-family: "Inconsolata";
  --mixin-w8dbKxESSffvFt_padding-bottom: 1px;
  --mixin-w8dbKxESSffvFt_padding-left: 4px;
  --mixin-w8dbKxESSffvFt_padding-right: 4px;
  --mixin-w8dbKxESSffvFt_padding-top: 1px;
  --mixin-w8dbKxESSffvFt_white-space: pre-wrap;
  --mixin-y0U7fZdS0KAm_J_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-y0U7fZdS0KAm_J_border-bottom-color: #dddddd;
  --mixin-y0U7fZdS0KAm_J_border-bottom-style: solid;
  --mixin-y0U7fZdS0KAm_J_border-bottom-width: 1px;
  --mixin-y0U7fZdS0KAm_J_border-left-color: #dddddd;
  --mixin-y0U7fZdS0KAm_J_border-left-style: solid;
  --mixin-y0U7fZdS0KAm_J_border-left-width: 1px;
  --mixin-y0U7fZdS0KAm_J_border-right-color: #dddddd;
  --mixin-y0U7fZdS0KAm_J_border-right-style: solid;
  --mixin-y0U7fZdS0KAm_J_border-right-width: 1px;
  --mixin-y0U7fZdS0KAm_J_border-top-color: #dddddd;
  --mixin-y0U7fZdS0KAm_J_border-top-style: solid;
  --mixin-y0U7fZdS0KAm_J_border-top-width: 1px;
  --mixin-y0U7fZdS0KAm_J_border-bottom-left-radius: 3px;
  --mixin-y0U7fZdS0KAm_J_border-bottom-right-radius: 3px;
  --mixin-y0U7fZdS0KAm_J_border-top-left-radius: 3px;
  --mixin-y0U7fZdS0KAm_J_border-top-right-radius: 3px;
  --mixin-y0U7fZdS0KAm_J_font-family: "Inconsolata";
  --mixin-y0U7fZdS0KAm_J_padding-bottom: 3px;
  --mixin-y0U7fZdS0KAm_J_padding-left: 6px;
  --mixin-y0U7fZdS0KAm_J_padding-right: 6px;
  --mixin-y0U7fZdS0KAm_J_padding-top: 3px;
  --mixin-y0U7fZdS0KAm_J_white-space: pre-wrap;
  --mixin-LWnob1vhQlz6A0_display: flex;
  --mixin-LWnob1vhQlz6A0_flex-direction: column;
  --mixin-LWnob1vhQlz6A0_align-items: stretch;
  --mixin-LWnob1vhQlz6A0_justify-content: flex-start;
  --mixin-LWnob1vhQlz6A0_list-style-position: outside;
  --mixin-LWnob1vhQlz6A0_padding-left: 40px;
  --mixin-LWnob1vhQlz6A0_position: relative;
  --mixin-LWnob1vhQlz6A0_list-style-type: decimal;
  --mixin-LWnob1vhQlz6A0_white-space: pre-wrap;
  --mixin-0yGzwZVYdAh0xL_display: flex;
  --mixin-0yGzwZVYdAh0xL_flex-direction: column;
  --mixin-0yGzwZVYdAh0xL_align-items: stretch;
  --mixin-0yGzwZVYdAh0xL_justify-content: flex-start;
  --mixin-0yGzwZVYdAh0xL_list-style-position: outside;
  --mixin-0yGzwZVYdAh0xL_padding-left: 40px;
  --mixin-0yGzwZVYdAh0xL_position: relative;
  --mixin-0yGzwZVYdAh0xL_list-style-type: disc;
  --mixin-0yGzwZVYdAh0xL_white-space: pre-wrap;
  --mixin-9rZYHysLEcCeMF_color: #3291ff;
  --mixin-9rZYHysLEcCeMF_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0o5_vx8F1YV4QR_font-family);
  font-size: var(--mixin-0o5_vx8F1YV4QR_font-size);
  font-weight: var(--mixin-0o5_vx8F1YV4QR_font-weight);
  font-style: var(--mixin-0o5_vx8F1YV4QR_font-style);
  color: var(--mixin-0o5_vx8F1YV4QR_color);
  text-align: var(--mixin-0o5_vx8F1YV4QR_text-align);
  text-transform: var(--mixin-0o5_vx8F1YV4QR_text-transform);
  line-height: var(--mixin-0o5_vx8F1YV4QR_line-height);
  letter-spacing: var(--mixin-0o5_vx8F1YV4QR_letter-spacing);
  white-space: var(--mixin-0o5_vx8F1YV4QR_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-tOdj-tVuvKky1c_color);
  font-size: var(--mixin-tOdj-tVuvKky1c_font-size);
  font-weight: var(--mixin-tOdj-tVuvKky1c_font-weight);
  letter-spacing: var(--mixin-tOdj-tVuvKky1c_letter-spacing);
  line-height: var(--mixin-tOdj-tVuvKky1c_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-R4KJA7JRrWwSPS_color);
  font-size: var(--mixin-R4KJA7JRrWwSPS_font-size);
  font-weight: var(--mixin-R4KJA7JRrWwSPS_font-weight);
  letter-spacing: var(--mixin-R4KJA7JRrWwSPS_letter-spacing);
  line-height: var(--mixin-R4KJA7JRrWwSPS_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-FXfjjJRySMcmii_color);
  font-size: var(--mixin-FXfjjJRySMcmii_font-size);
  font-weight: var(--mixin-FXfjjJRySMcmii_font-weight);
  line-height: var(--mixin-FXfjjJRySMcmii_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-IsCzqT-EomF0HB_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-z4_Ss7oz7eMnFQ_color);
  padding-left: var(--mixin-z4_Ss7oz7eMnFQ_padding-left);
  border-left: var(--mixin-z4_Ss7oz7eMnFQ_border-left-width)
    var(--mixin-z4_Ss7oz7eMnFQ_border-left-style)
    var(--mixin-z4_Ss7oz7eMnFQ_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ZsFsudtfUFpWzk_color);
  font-size: var(--mixin-ZsFsudtfUFpWzk_font-size);
  font-weight: var(--mixin-ZsFsudtfUFpWzk_font-weight);
  letter-spacing: var(--mixin-ZsFsudtfUFpWzk_letter-spacing);
  line-height: var(--mixin-ZsFsudtfUFpWzk_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-lnCWVZYaOBwT0D_color);
  font-size: var(--mixin-lnCWVZYaOBwT0D_font-size);
  font-weight: var(--mixin-lnCWVZYaOBwT0D_font-weight);
  line-height: var(--mixin-lnCWVZYaOBwT0D_line-height);
  letter-spacing: var(--mixin-lnCWVZYaOBwT0D_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-vkwxGub_KFgGHI_color);
  font-size: var(--mixin-vkwxGub_KFgGHI_font-size);
  font-weight: var(--mixin-vkwxGub_KFgGHI_font-weight);
  line-height: var(--mixin-vkwxGub_KFgGHI_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-w8dbKxESSffvFt_font-family);
  border-radius: var(--mixin-w8dbKxESSffvFt_border-top-left-radius)
    var(--mixin-w8dbKxESSffvFt_border-top-right-radius)
    var(--mixin-w8dbKxESSffvFt_border-bottom-right-radius)
    var(--mixin-w8dbKxESSffvFt_border-bottom-left-radius);
  padding: var(--mixin-w8dbKxESSffvFt_padding-top)
    var(--mixin-w8dbKxESSffvFt_padding-right)
    var(--mixin-w8dbKxESSffvFt_padding-bottom)
    var(--mixin-w8dbKxESSffvFt_padding-left);
  border-top: var(--mixin-w8dbKxESSffvFt_border-top-width)
    var(--mixin-w8dbKxESSffvFt_border-top-style)
    var(--mixin-w8dbKxESSffvFt_border-top-color);
  border-right: var(--mixin-w8dbKxESSffvFt_border-right-width)
    var(--mixin-w8dbKxESSffvFt_border-right-style)
    var(--mixin-w8dbKxESSffvFt_border-right-color);
  border-bottom: var(--mixin-w8dbKxESSffvFt_border-bottom-width)
    var(--mixin-w8dbKxESSffvFt_border-bottom-style)
    var(--mixin-w8dbKxESSffvFt_border-bottom-color);
  border-left: var(--mixin-w8dbKxESSffvFt_border-left-width)
    var(--mixin-w8dbKxESSffvFt_border-left-style)
    var(--mixin-w8dbKxESSffvFt_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-y0U7fZdS0KAm_J_font-family);
  border-radius: var(--mixin-y0U7fZdS0KAm_J_border-top-left-radius)
    var(--mixin-y0U7fZdS0KAm_J_border-top-right-radius)
    var(--mixin-y0U7fZdS0KAm_J_border-bottom-right-radius)
    var(--mixin-y0U7fZdS0KAm_J_border-bottom-left-radius);
  padding: var(--mixin-y0U7fZdS0KAm_J_padding-top)
    var(--mixin-y0U7fZdS0KAm_J_padding-right)
    var(--mixin-y0U7fZdS0KAm_J_padding-bottom)
    var(--mixin-y0U7fZdS0KAm_J_padding-left);
  border-top: var(--mixin-y0U7fZdS0KAm_J_border-top-width)
    var(--mixin-y0U7fZdS0KAm_J_border-top-style)
    var(--mixin-y0U7fZdS0KAm_J_border-top-color);
  border-right: var(--mixin-y0U7fZdS0KAm_J_border-right-width)
    var(--mixin-y0U7fZdS0KAm_J_border-right-style)
    var(--mixin-y0U7fZdS0KAm_J_border-right-color);
  border-bottom: var(--mixin-y0U7fZdS0KAm_J_border-bottom-width)
    var(--mixin-y0U7fZdS0KAm_J_border-bottom-style)
    var(--mixin-y0U7fZdS0KAm_J_border-bottom-color);
  border-left: var(--mixin-y0U7fZdS0KAm_J_border-left-width)
    var(--mixin-y0U7fZdS0KAm_J_border-left-style)
    var(--mixin-y0U7fZdS0KAm_J_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-LWnob1vhQlz6A0_display);
  flex-direction: var(--mixin-LWnob1vhQlz6A0_flex-direction);
  align-items: var(--mixin-LWnob1vhQlz6A0_align-items);
  justify-content: var(--mixin-LWnob1vhQlz6A0_justify-content);
  list-style-position: var(--mixin-LWnob1vhQlz6A0_list-style-position);
  padding-left: var(--mixin-LWnob1vhQlz6A0_padding-left);
  position: var(--mixin-LWnob1vhQlz6A0_position);
  list-style-type: var(--mixin-LWnob1vhQlz6A0_list-style-type);
  flex-column-gap: var(--mixin-LWnob1vhQlz6A0_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-0yGzwZVYdAh0xL_display);
  flex-direction: var(--mixin-0yGzwZVYdAh0xL_flex-direction);
  align-items: var(--mixin-0yGzwZVYdAh0xL_align-items);
  justify-content: var(--mixin-0yGzwZVYdAh0xL_justify-content);
  list-style-position: var(--mixin-0yGzwZVYdAh0xL_list-style-position);
  padding-left: var(--mixin-0yGzwZVYdAh0xL_padding-left);
  position: var(--mixin-0yGzwZVYdAh0xL_position);
  list-style-type: var(--mixin-0yGzwZVYdAh0xL_list-style-type);
  flex-column-gap: var(--mixin-0yGzwZVYdAh0xL_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-9rZYHysLEcCeMF_color);
}
